<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="side-div">
      <ul class="sidebar" id="sidebar"></ul>
    </div>
    <div class="main-div">
    </div>
    <script src="/javascripts/videoList.js"></script>
  </body>
</html>
