<!DOCTYPE html>
<html>
<head>
  <title>Video Analysis</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.0.1/math.min.js"></script>
</head>
<body>
  <ul class='nav' id='vList'>
  </ul>
  <hr>
  <div class="set_player">
    <div class="set">
      <h3>setting</h3>
      <form class="setForm" id="setForm" onsubmit="postSetValue(event)">
        <label for="cate">choose object : </label>
        <select id="cate" name="cate" onChange="changeCateSelect()"></select>
        <br>
        <label for="range">set seconds : </label>
        <select id="range" name="range">
          <option value=10>10</option>
          <option value=30>30</option>
          <option value=60>60</option>
        </select>
        <br>
        <label for="counter">Counter : </label>
        <input type="checkbox" name="counter" id="counter"/>
        <label for="speed">Speed : </label>
        <input type="checkbox" name="speed" id="speed"/>
        <div class="detail" id="detail"></div>
        <button type="submit" name="set">set</button>
      </form>
    </div>
    <div class="player">
      <canvas id="canvas" width="480" height="270"></canvas>
      <br>
      <button id="play">Play</button>
      <button id="pause">Pause</button>
    </div>
  </div>

  <hr>

  <div class="graph_div" id="graph_div">
    <label for="counterExcess">counter:</label>
    <input type="text" id="counterExcess" name="counterExcess" required minlength="4" maxlength="8" size="10" onclick="clickCheckInput()">
    <label for="speedExcess">speed:</label>
    <input type="text" id="speedExcess" name="speedExcess" required minlength="4" maxlength="8" size="10" onclick="clickCheckInput()">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="fiveper">Top 5%</label>
    <input type="checkbox" id="fiveper" onclick="clickCheck(this)">
    &nbsp;&nbsp;
    <label for="tenper">Top 10%</label>
    <input type="checkbox" id="tenper" onclick="clickCheck(this)">
    &nbsp;&nbsp;
    <label for="fifper">Top 15%</label>
    <input type="checkbox" id="fifper" onclick="clickCheck(this)">
    &nbsp;&nbsp;
    <button type="button" id="apply">적용</button>
    <br><br>
  </div>

  <script>
  var canvas=document.getElementById ("canvas");
  var context=canvas.getContext("2d");
  var img = new Image (); //이미지 객체 생성
  var imgpath = `${window.location.pathname}`;
  imgpath = imgpath.replace('/analysis','/image');
  img.src = imgpath; //code.jpg라는 이미지 파일을 로딩 시작
  img.onload = function() //이미지 로딩 완료시 실행되는 함수
  {
    context.drawImage (img,0,0,480,270);
    //(20,20)을 중심으로 100*100의 사이즈로 이미지를 그림 context. drawImage (img,20,20,100,100)
  }

  function clickCheckInput() {
    document.querySelectorAll(`input[type=checkbox]`)
    .forEach(el => el.checked = false);
  }
  function clickCheck(target) {
    document.querySelectorAll(`input[type=checkbox]`)
    .forEach(el => el.checked = false);
    target.checked = true;
    document.getElementById('counterExcess').value='';
    document.getElementById('speedExcess').value='';
  }

  function getvideolist(){
    var req = new XMLHttpRequest();
    req.open('GET','/videolist', true);
    req.responseType='json';
    req.onload = ()=>{
      var ul =document.getElementById('vList');
      var videolist = req.response[0].videolist;
      videolist = videolist.toString().replaceAll('.mp4','');
      var list = videolist.split(',');
      list.forEach(function(element){
        var li = document.createElement('li');
        var a = document.createElement('a')
        a.href='/analysis/'+element;
        a.innerText=element;
        li.appendChild(a);
        ul.appendChild(li);
      });
    }
    req.send();
  }

  function addOption() {
    var req = new XMLHttpRequest();
    var path = `${window.location.pathname}`;
    path = path.replace('/analysis/','');
    req.open('GET',`/objectCategory/${path}`, true);
    req.responseType='json';
    req.onload = ()=>{
      var ul =document.getElementById('vList');
      var category = req.response[0].category;
      var selectEl = document.getElementById('cate');
      var i = 0;
      while(i < category.length){
        var objOption = document.createElement('option');
        objOption.text = category[i];
        objOption.value = category[i];
        selectEl.options.add(objOption);
        i++;
      }
    }
    req.send();
  }



  function changeCateSelect(){
    var target = document.getElementById("cate");
    var targetValue = target.value;
    var detailDiv=document.getElementById('detail');
    var every = detailDiv.childNodes;
    var check = true;
    for(var i = 0; i < every.length; i++){
      if(every[i].tagName=='A' && every[i].id == targetValue)check=false;
    }
    if(check){
      var label = document.createElement('label');
      label.id=targetValue+'label';
      label.innerText='  '+targetValue+' ';
      // var inputText = document.createElement('input');
      // inputText.type='text';
      // inputText.id=targetValue;
      // inputText.name=targetValue;
      // inputText.size='10';
      var cancelA = document.createElement('a');
      cancelA.innerText="x";
      cancelA.id=targetValue;

      var br = document.createElement('br');
      detailDiv.appendChild(label);
      detailDiv.appendChild(cancelA);
      cancelA.addEventListener("click", ()=>{
        cancelA.remove();
        label.remove();
      });
      // detailDiv.appendChild(br);
    }
  }
  function playerClear(status){
    var canvas = document.getElementById("canvas");
    canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
    var ctx = canvas.getContext("2d");
    ctx.textAlign = 'center';
    ctx.Baseline = 'middle';
    ctx.font = "30px Arial";
    ctx.fillText(status, 240, 135);
  }
  function firstPointColor(data, pointBackgroundColors, color){
    var value = eval(`data.${data.cate[0]}_count`);
    for (var i = 0; i < value.length; i++) {
      pointBackgroundColors.pop();
    }
    for (var i = 0; i < value.length; i++) {
      pointBackgroundColors.push(color);
    }
  }
  function chartPointColor(data, pointBackgroundColors, excess, color){
    var temp = pointBackgroundColors;
    for (i = 0; i < data.length; i++) {
      if (data[i] >= excess) {
        if(pointBackgroundColors[i] == "rgba(0, 0, 0, 1)");
        else if(color=='rgba(180, 180, 255, 1)')pointBackgroundColors[i]="rgba(255, 0, 0, 1)";
        else if(color=='rgba(255, 180, 180, 1)')pointBackgroundColors[i]=("rgba(0, 0, 255, 1)");
      }else {
        if(pointBackgroundColors[i] == "rgba(0, 0, 0, 1)");
        else if(color=='rgba(180, 180, 255, 1)')pointBackgroundColors[i]="rgba(180, 180, 255, 1)";
        else if(color=='rgba(255, 180, 180, 1)')pointBackgroundColors[i]=("rgba(255, 180, 180, 1)");
      }
    }
  }
  function getSortedArr(arr, top){
    var result=[];
    for(var i in arr){
      result.push(arr[i]);
    }
    result.sort((first, second)=>{
      return second - first;
    });
    top = parseInt(arr.length*top/100);
    return result[top];
  }

  function postSetValue(){
    event.preventDefault();
    var detailDiv=document.getElementById('detail');
    var setForm=document.getElementById('setForm');
    var graphDiv = document.getElementById('graph_div');
    var every = detailDiv.childNodes;
    var cate = [];
    var check = true;
    for(var i = 0; i < every.length; i++){
      if(every[i].tagName=='A'){
        cate.push(every[i].id);
      }
    }
    var cvsId=`${cate}`;
    cvsId=cvsId.replaceAll(',','');
    cvsId=`${cvsId}Chart`;
    var graphevery = graphDiv.childNodes;
    for(var i = 0; i < graphevery.length; i++){
      if(graphevery[i].tagName=='CANVAS'&&graphevery[i].id==cvsId){
        check = false;
      }
    }
    if(check){
      var path = `${window.location.pathname}`;
      path = path.replace('/analysis/','');
      var data = {
        video: path,
        cate: cate,
        timerange: this.range.value,
        speedCheck: this.speed.checked,
        counterCheck: this.counter.checked
      };

      fetch('/getObjectData', {
        method: 'POST', // 또는 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then((response) => response.json())
      .then((data) => {
        makingCustomChart(data);
      })
      .catch((error) => {
        console.error('실패:', error);
      });
    }

    while (detailDiv.hasChildNodes()) {
      detailDiv.removeChild(detailDiv.firstChild);
    }
    setForm.reset();
  }

  function dataCustom(data){
    var value = eval(`data.${data.cate[0]}_count`);
    var check = Array.from({length: value.length}, () => 0);
    for (var i = 0; i < data.cate.length; i++) {
      var value2 = eval(`data.${data.cate[i]}_count`);
      for(j = 0; j < value2.length; j ++){
        if(data.wantNum[i] == value2[j]||data.wantNum[i]=='')check[j]++;
      }
    }

    for (var i = 0; i < data.cate.length; i++) {
      var value2 = eval(`data.${data.cate[i]}_count`);
      for(j = 0; j < value2.length; j ++){
        if(data.cate.length != check[j])value2[j]=0;
      }
      eval(`data.${data.cate[i]}_count = value2`);
    }
  }

  function makingCustomChart(data){
    var graphDiv = document.getElementById('graph_div');
    var graphCvs = document.createElement('canvas');
    graphCvs.height = 50;
    var cvsId=`${data.cate}`;
    cvsId=cvsId.replaceAll(',','');
    graphCvs.id=`${cvsId}Chart`;
    var config =  {
      type: 'line',
      data: {
        labels: data.time,
        datasets: []
      },
      options: {

        onClick: function(point,event){
          if(event.length==1){
            playerClear('Loding...');
            var timesplit = data.time[0].split(':');
            var timerange = parseInt(timesplit[0]*60) + parseInt(timesplit[1]);
            if(data.speedCheck && data.counterCheck)var cateIdx = parseInt(event[0].datasetIndex/2);
            else var cateIdx=event[0].datasetIndex;
            videoStream(data.video, data.cate[cateIdx], data.timerange, event[0].index);
          }
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    var chart = new Chart(graphCvs, config);
    // dataCustom(data);
    var pointBackgroundColors=[];
    var speedCheck=data.speedCheck;
    var counterCheck=data.counterCheck;
    for(var i = 0; i < data.cate.length; i++){
      var speedValue= eval(`data.${data.cate[i]}_speed`);
      var countValue = eval(`data.${data.cate[i]}_count`);
      if (data.speedCheck){
        var value = eval(`data.${data.cate[i]}_speed`);
        var color1 = Math.floor(Math.random() * 256);
        var color2 = Math.floor(Math.random() * 256);
        var color3 = Math.floor(Math.random() * 256);
        // firstPointColor(data, pointBackgroundColors, "rgba(255, 180, 180, 1)");
        var newDataset = {
          label: `${data.cate[i]} 속도`,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          lineTension: .1,
          data:[],
        }
        for(var k=0 ; k < speedValue.length ; k++){
          newDataset.data[k]=speedValue[k];
        }
        config.data.datasets.push(newDataset);
      }
      if (data.counterCheck){
        var value = eval(`data.${data.cate[i]}_count`);
        // firstPointColor(data, pointBackgroundColors, "rgba(180, 180, 255, 1)");
        var newDataset = {
          label: `${data.cate[i]} 수`,
          lineTension: .1,
          // pointBackgroundColor:pointBackgroundColors,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          data:[],
        }
        for(var k=0 ; k < countValue.length ; k++){
          newDataset.data[k]=countValue[k];
        }
        config.data.datasets.push(newDataset);
      }
      var label = document.createElement('label');
      var input = document.createElement('input');
      label.for=data.cate[i];
      label.innerText='  '+data.cate[i]+': ';
      input.name=data.cate[i];
      input.id=`${cvsId}Input${i}`;
      input.size='10';
      graphDiv.appendChild(label);
      graphDiv.appendChild(input);
      input.addEventListener("change", ()=>{
        if(input.value=="")console.log('blank');

        if(counterCheck&&speedCheck){
          var idx = i-1;
          console.log(idx);
          for(var j=0; j<2; j++){
            var data = config.data.datasets[j].data;
            for(var k=0 ; k < data.length ; k++){
              if(input.value=="" && j== 0){
                config.data.datasets[j].fill=false;
                data[k]=speedValue[k];
              }
              else if(input.value=="" && j== 1){
                config.data.datasets[j].fill=false;
                data[k]=countValue[k];
              }
              else if(data[k] < input.value){
                config.data.datasets[j].fill=true;
                data[k]=0;
              }
            }
          }
        }else {
          var idx = i-1;
          var data = config.data.datasets[idx].data;
          for(var k=0 ; k < data.length ; k++){
            if(input.value==""&&speedCheck){
              config.data.datasets[idx].fill=false;
              data[k]=speedValue[k];
            }
            else if(input.value==""&&counterCheck){
              config.data.datasets[idx].fill=false;
              data[k]=countValue[k];
            }
            else if(data[k] < input.value){
              config.data.datasets[idx].fill=true;
              data[k]=0;
            }
          }
        }
        chart.update();	//차트 업데이트
      });
    }
    graphDiv.appendChild(graphCvs);
  }

  function videoStream(video, cate, timerange, times){
    var data = {
      video: video,
      timerange: timerange,
      times: times
    };
    fetch('/getVideopart', {
      method: 'POST', // 또는 'PUT'
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then((response) => response.json())
    .then((data) => {
      var boxData = {
        video: video,
        cate: cate,
        timerange: timerange,
        times: times
      };
      fetch('/getBoundingBox', {
        method: 'POST', // 또는 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(boxData),
      })
      .then((res) => res.json())
      .then((bboxData) => {
        var video = document.createElement('video');
        var fps = 15;
        video.src=data.videoPath;
        playerClear('Press Play');
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        var canvasInterval = null;
        var i = 0;
        function drawBbox(){
          var box = bboxData.bbox[i++].split(", ");
          if(bboxData.bbox.length <= i)i=0;
          ctx.beginPath();
          ctx.lineWidth = "3";
          ctx.strokeStyle = "red";
          for(var j = 0; j < box.length; j++){
            ctx.rect(parseInt(box[j++]/bboxData.redu), parseInt(box[j++]/bboxData.redu), parseInt(box[j++]/bboxData.redu), parseInt(box[j]/bboxData.redu));
          }
          ctx.stroke();
        }

        document.getElementById('play').addEventListener('click', function () {
          video.play();
        });
        document.getElementById('pause').addEventListener('click', function () {
          video.pause();
        });
        function drawImage(video) {
          ctx.drawImage(video, 0, 0, 480, 270);
        }
        canvasInterval = window.setInterval(() => {
          drawImage(video);
        }, 1000 / fps);
        video.onpause = function() {
          clearInterval(canvasInterval);
        };
        video.onended = function() {
          clearInterval(canvasInterval);
        };
        video.onplay = function() {
          clearInterval(canvasInterval);
          canvasInterval = window.setInterval(() => {
            drawImage(video);
            drawBbox();
          }, 1000 / fps);
        };
      })
      .catch((error) => {
        console.error('box 실패:', error);
      });
    })
    .catch((error) => {
      console.error('video part 실패:', error);
    });
  }

  addOption();
  getvideolist();

</script>
</body>
</html>
