<!DOCTYPE html>
<html>
<head>
  <title>Stream video</title>
</head>
<body>
  <button id="play">Play</button>
  <button id="pause">Pause</button>
  <canvas id="canvas" width="1920" height="1080"></canvas>
  <script type="text/javascript">
  var video = document.createElement('video');
  var path = `${window.location.pathname}`;
  path = path.replace('/stream','/video');
  video.src=path;

  var canvasInterval = window.setInterval(() => {
    drawImage(video);
  }, 1000 / 15);

  var req = new XMLHttpRequest();
  var path = `${window.location.pathname}`;
  path = path.replace('/stream','/objectBox');
  req.open('GET',`${path}`, true);
  req.responseType='json';
  req.onload = ()=>{
    drawBbox(req.response);
  }
  req.send();

  document.getElementById('play').addEventListener('click', function () {
    video.play();
  });
  document.getElementById('pause').addEventListener('click', function () {
    video.pause();
  });

  var canvas = document.getElementById('canvas');
  function drawBbox(bbox){
    var i = 0;
    function drawImage() {
      var ctx = canvas.getContext('2d');
      ctx.drawImage(video, 0, 0, 1920, 1080);
      var box = bbox[i++].split(", ");
      if(bbox.length <= i)i=0;
      ctx.beginPath();
      ctx.lineWidth = "3";
      ctx.strokeStyle = "red";
      for(var j = 0; j < box.length; j++){
        ctx.rect(box[j++], box[j++], box[j++], box[j]);
      }
      ctx.stroke();
    };

    video.onpause = function() {
      clearInterval(canvasInterval);
    };
    video.onended = function() {
      clearInterval(canvasInterval);
    };
    video.onplay = function() {
      clearInterval(canvasInterval);
      canvasInterval = window.setInterval(() => {
        drawImage();
      }, 1000/15);
    };
  }
  </script>
</body>
</html>
