<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test </title>
  </head>
  <body>
    <h1>test</h1>
    <video id="targetVideo" width="30%" autoplay><source src="/video" type="video/mp4">video error</video>
  </body>
</html>
