body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#canvas {
  background-color: gray;
}
div {
  display: inline-block;
  position: relative;
}
.nav {
  list-style: none;
  padding-left: 0;
}
.nav li {
  display: inline;
  margin-right: 1em;
}

.set_div {

}
.set {
  width: 30%;
  top:-150px;
}
.player {
  right:-400px;
}
.set_from {
  margin: 1 auto;
}

.set_form input[type=text] {
  display: none;
}
.graph_div {
  width:100%;
}
